@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    width: 700px;
    margin: 1em auto;
}

.button {
    display: inline-block;
    font: 500 13px "Open Sans";
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 1em;
    margin: 0 1em 0 0;
    color: #333333;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #e6e6e6;
}

.button:hover {
    background-color: #9ca7af;
    color: white;
}

#domain-list {
    margin-top: 1em;
    width: 100%;
    min-height: 33em;
}

.keys-table-wrapper {
    border: solid 1px #cccccc;
    border-radius: 4px;
    background-image: url("table-background.png");
    font: 300 17px "Open Sans";
}

.keys-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.keys-table .domain-name {
    width: 250px;
}

.keys-table tr {
    height: 40px;
}

.keys-table tr:hover {
    background-color: #9ca7af;
    color: white;
}

.keys-table td {
    padding: 0 0.5em;
}

.shadowcrypt-key {
    width: 40px;
    height: 25px;
    background: url("Spritesheet-01.png");
}

.keys-table .key-holder, .keys-table .delete-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 0;
    background: none;
}

.keys-table .key-holder {
    top: 7px;
}

.keys-table .delete-button {
    visibility: hidden;
    float: right;
    background: -40px 0 url("Spritesheet-01.png");
    width: 40px;
    height: 40px;
    -webkit-transition: -webkit-transform ease-in-out 0.2s 0s;
}

.keys-table tr:hover .delete-button {
    visibility: visible;
}

.keys-table .delete-button:hover {
    -webkit-transform: scale(1.2);
}

.keys-table .shadowcrypt-key {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform ease-in-out 0.2s,  opacity ease-in-out 0.2s;
    -webkit-transform: scale(0.9) rotate(-20deg);
    opacity: 0.5;
}

.keys-table .key-holder.default-key .shadowcrypt-key {
    -webkit-transform: rotate(-20deg) scale(1);
    opacity: 1;
}

.keys-table .key-holder:hover .shadowcrypt-key {
    -webkit-transform: translate(0, -2px) rotate(-25deg) scale(1.2);
    opacity: 1;

}

.keys-table .key-name-wrapper {
    position: absolute;
    left: 50%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.2s 0s;
}

.keys-table .key-holder:hover .key-name-wrapper {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.2s 1s;
}

.keys-table.tooltip-active .key-holder:hover .key-name-wrapper {
    -webkit-transition: all ease-in-out 0.2s 0;
}

.keys-table .key-holder.default-key .shadowcrypt-key-name:after  {
    content: " [default]";
    font-variant: small-caps;
    font-weight: 500;
}

.keys-table .key-holder.default-key:only-child .shadowcrypt-key-name:after  {
    content: "";
}


.keys-table .shadowcrypt-key-name {
    position: relative;
    left: -50%;
    top: -1px;
    background-color: white;
    border: solid 1px #cccccc;
    white-space: nowrap;
    font: 10px "Open Sans";
    padding: 3px;

}

/* MODAL DIALOGS */

.modal, .modal-fade {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal {
    z-index: 1000;
    -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.modal.displayed {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay:0s;
}

.modal .modal-element {
    visibility: hidden;
    -webkit-transition: visibility 0s linear 0.3s;
}

.modal.displayed .displayed.modal-element {
    visibility: visible;
    -webkit-transition-delay:0s;
}

.modal-fade {
    background-color: white;
    opacity: 0;
}

.modal.fade-out .modal-fade {
    opacity: 0.3;
}

.dialog {
    position: absolute;
    display: table;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 476px;
    padding: 15px 12px 20px;
    border-radius: 4px;
    font-size: 14px;

    border: solid 1px #ccc;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    background-color: white;
}

#dialog-box .dialog {
    width: 376px;
}

.dialog h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 1em;
    margin-top: 0;
    text-align: center;
}

.dialog h2#edit-key-title {
    text-align: left;
}

.dialog h2#edit-key-title .shadowcrypt-key {
    display: inline-block;
    -webkit-transform: translate(0,4px) rotate(-20deg) ;
    margin-right: 0.5em;
}

.dialog .dialog-content {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}

.dialog p {
    margin: 0;
}

.dialog .dialog-content p {
    margin-bottom: 1em;
}

.dialog .hint {
    float: right;
    font-weight: 300;
    color: #999;
}

.dialog label, .dialog .label {
    text-transform: uppercase;
}

.dialog input, .dialog .input, .dialog textarea {
    width: 450px;
    background: #f2f2f2;
    border: 1px solid #cccccc;
    padding: 8px 12px;
    margin: 7px 0 22px;
    font: 300 18px "Open Sans";
}

.dialog .key-color-selection input[type=radio] {
    display: none;
}

.dialog textarea {
    min-height: 4em;
}

.dialog .export-string, #key-dialog-import, .dialog textarea {
    font-size: 14px;
}

.dialog .key-color-selection label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
}

.dialog .key-color-selection .shadowcrypt-key {
    display: inline-block;
    -webkit-transform: translate(1px,8px) rotate(-20deg) ;
}

.dialog .key-color-selection input[type=radio]:checked + label {
    background-color: #cccccc;
}

.dialog .button {
    display: inline-block;
}

.dialog .dialog-buttons {
    position: relative;
    text-align: center;
}

.dialog .delete-button {
    position: absolute;
    right: 0;
    bottom: -1px;
    background: -79px -4px url("Spritesheet-01.png");
    width: 40px;
    height: 33px;
    cursor: pointer;
    border-radius: 4px;
}

.dialog .delete-button:hover {
    background-color: #9ca7af;
    background-position: -79px -44px;
}

/* Specific dialogs */

#key-dialog .dialog-area {
    display: none;
}

#key-dialog.new-key .new-key.dialog-area {
    display: block;
}

#key-dialog.edit-key .edit-key.dialog-area {
    display: block;
}

#key-dialog.import-key .import-key.dialog-area {
    display: block;
}

